.swap-dialog{
  :global{
    .ant-modal-confirm-title{
      margin-bottom: 40px;
      font-size:16px;
    }
    .lecture-wrapper{
      border-top:1px solid #ccc;
    }
    .lecture-wrapper-teacher,
    .lecture-wrapper-course,
    .lecture-wrapper-room,
    .lecture-wrapper-klass{
      max-width: 120px;
      min-width: 112px;
    }
  }
  .swap-item{
    border:1px solid #ccc;
  }
  .swap-dialog-week-of-date{
    flex-direction: row-reverse;
    margin: 10px 0;
    span{
      margin: 0 5px;
      font-size:14px;
      font-weight: bold;
    }
  }
  .swap-dialog-timeslot{
    font-size:14px;
    font-weight: bold;
  }
}




.label-box {
  padding: 0 10px;
  background-color: #f8f8f8;
  h3 {
    flex-shrink: 0;
    margin: 0;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
  }
}

.right-side{
  border-left: 1px solid #ccc;
  background-color: #f0f0f0;
  min-width: 200px;
  padding:10px;
  .source-lecture{
    border:1px solid #666 !important;
  }
}
