.steps{
  padding: 32px 200px 32px;
}

.steps-content{
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.steps-action-bottom{
  width: 100%;
  position: fixed;
  display: flex;
  background-color: white;
  flex-direction: column;
  height: 81px;
  bottom: 0;
}

.steps-action-line{
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
}

.steps-action{
  width: 100%;
  height: 81px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.examRowCol{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.all-build{
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}

.all-layer{
  height: 30px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-layer-text{
  font-size: 14px;
  line-height: 20px;
}

.room-container{
  margin-top: 16px;
  display: flex;
  flex-direction: row;
}

.all-room{
  font-size: 14px;
  height: 20px;
}

.date-select-container{
  display: flex;
  align-items: center;
}

// =================================== Three
.tip-color{
  color: green;
  font-size: 16px;
}

.three-btn-container{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.three-right-btn-container{
  display: flex;
  flex-direction: row;
}

.three-right-btn{
  margin-right: 20px;
}

#components-table-demo-drag-sorting tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

#components-table-demo-drag-sorting tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}