.exam-create-page-main{
  overflow-y: hidden;
  .scroll-view{
    flex:1;
    overflow-y: auto;
  }
}

.steps{
  padding: 32px 10% 32px;
}

.steps-content{
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.steps-action{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eee;
  padding:15px;
  background-color: #fcfcfc;
}

.all-build{
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}

.all-layer{
  height: 30px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-layer-text{
  font-size: 14px;
  line-height: 20px;
}

.room-container{
  margin-top: 16px;
  display: flex;
  flex-direction: row;
}

.all-room{
  font-size: 14px;
}

.room-select{
  font-size: 12px;
  color: green;
}

.teacher-select{
  font-size: 12px;
  color: green;
}

.date-select-container{
  display: flex;
  align-items: center;
}

.student-num{
  font-size: 12px;
  color: green;
}

.tree-container {
  :global {
    .ant-tree-child-tree-open {
      width: 800px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.tree-title{
  :global {
    .ant-tree-title{
      background-color: #eeeeee;
    }
  }
}

// =================================== Three
.tip-color{
  color: green;
  font-size: 16px;
}

.three-btn-container{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.three-right-btn-container{
  display: flex;
  flex-direction: row;
}

.three-right-btn{
  margin-right: 20px;
}

#components-table-demo-drag-sorting tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

#components-table-demo-drag-sorting tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}
