/**
DaubRectangleBox.js
 */
.daub-rectangle-box {
  width: 16px;
  height: 10px;
  position: relative;
  margin: 3px;
  cursor: default;
  & > div {
    box-sizing: border-box;
    width: 32px;
    height: 20px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #111;
    transform: scale(0.5) translate(-16px, -10px);
  }
  &[data-checked="true"] {
    & > div {
      background-color: #111;
    }
  }
}

/**
StudentInfoBox.js
 */
.student-code-box {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #333;
  position: relative;
  &:after,
  & > input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 25px;
  }
  & > input {
    opacity: 0;
    background-color: transparent;
    border: 0 none transparent;
    z-index: 2;
  }
  &.focus:after {
    border: 1px solid #00aaff;
    outline: 1px solid #00aaff;
    content: '';
  }
}

.student-code-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #333;
  padding-bottom: 3px;
  width: 28px;
  &:last-child {
    border-right: 0;
  }
}

.student-code-value {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #333;
  margin-bottom: 3px;
}

.student-info-box {
  border: 1px solid #333;
  min-width: 169px;
}

.student-info-header {
  display: flex;
  & > label {
    flex: 1;
    padding: 5px;
  }
}

/**
Placeholder.js
 */
.placeholder {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.3;
  z-index: 0;
}

/**
Score.js
 */
.score {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  padding: 0 -1px;
  & > div {
    width: 30px;
    text-align: center;
    border-right: 1px solid #000;
    margin-left: -1px;
  }
}

/**
SubjectiveQuestionsBox.js
 */
.subjective-questions-box {
  .score {
    border: 0;
    border-bottom: 1px solid #333;
  }
  & > main {
    padding: 20px 10px 10px;
  }
}

/**
ContentEditableArea.js
 */
.content-editable-area {
  position: relative;
  line-height: 1.5;

  &:hover {
    .html-input {
      background-color: rgba(29, 165, 122, 0.05);
      outline: 1px dashed rgba(29, 165, 122, 0.2);
    }
  }
  &.focus {
    .html-input {
      background-color: rgba(29, 165, 122, 0.1);
      outline: 1px dashed rgba(29, 165, 122, 0.35);
    }
  }

  .html-input {
    position: relative;
    z-index: 1;
    word-break: break-word;
  }
}

/**
PaddingEditor.js
 */
.padding-editor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 180px;
  & > div {
    width: 60px;
  }
}

/**
CreateFilePanel.js
 */
.create-file-panel {
  padding: 50px;
  width: 700px;
  margin: 0 auto;
  label {
    font-size: 14px;
  }
}

/**
AttributePanel.js
 */
.attribute-panel {
  background-color: #fff;
}

/**
Element.js
 */
.element {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .75);
  border: 1px solid transparent;
  &.hover {
    outline: 1px dashed rgba(208, 189, 61, 1);
  }
  &.active {
    outline: 1px dashed rgba(29, 165, 122, 1);
    z-index: 900 !important;
  }
  &.focus {
    outline: 1px dashed #0af;
  }
  &.border {
    border-color: #000;
  }
  &.move {
    outline: 10px solid rgba(0, 170, 255, 0.6) !important;
    cursor: move;
  }
}

body[data-move="true"] {
  .element {
    outline: 10px solid rgba(255, 0, 0, 0.6);
  }
}

/**
AnswerQuestionBox.js
 */
.answer-question-box {
  width: 100%;
  .question-number {
    margin-bottom: 5px;
  }
  .content-editable-area {
    line-height: 1.732;
  }
}

/**
CompletionQuestionBox.js
 */
.completion-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  & > div {
    flex: 1;
    .content-editable-area {
      line-height: 1.732;
    }
  }
  & > label {
    text-align: right;
    min-width: 24px;
    line-height: 1.732;
    &:after {
      content: '.';
      margin-right: 5px;
    }
  }
}

/**
ChoiceQuestionBox.js
 */
.choice-question-box {
  outline: 1px dashed rgba(29, 165, 122, 0);
  .options-area {
    display: flex;
    flex-direction: row;
    label {
      width: 24px;
      text-align: right;
      &:after {
        content: '.';
        margin-right: 5px;
      }
    }
  }
}

/**
TitleBox.js
 */
.title-box {
  margin-bottom: 5px;
  line-height: 27px;
  .content-editable-area-input {
    height: 80px;
    overflow: hidden;
  }
  .placeholder {
    padding: 0 60px 0 80px;
  }
}

/**
Editor.js
 */
#editor {
  user-select: none;
  overflow: auto !important;
  padding: 30px 230px 0 0;
  background-color: #f0f4f8;
  :global {
    .ant-menu-vertical .ant-menu-item:not(:last-child),
    .ant-menu-vertical-left .ant-menu-item:not(:last-child),
    .ant-menu-vertical-right .ant-menu-item:not(:last-child),
    .ant-menu-inline .ant-menu-item:not(:last-child) {
      margin-bottom: 0;
    }
    .ant-menu-vertical > .ant-menu-item,
    .ant-menu-vertical-left > .ant-menu-item,
    .ant-menu-vertical-right > .ant-menu-item,
    .ant-menu-inline > .ant-menu-item,
    .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
      height: 30px;
      line-height: 30px;
    }
  }
  hr {
    border: 0;
    border-top: 1px solid #ccc;
    height: 0;
    width: 100%;
  }
}

.editor-root {
  width: auto !important;
  height: auto !important;
  overflow: auto !important;

  .answer-editor {
    &:before {
      content: '';
      display: block;
      height: 30px;
    }
  }
}

/**
EditorHeader.js
 */
.editor-header {
  width: 100%;
  height: 30px;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px #ccc;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  background: #f3f3f3;

  :global {
    .ant-menu {
      background: #f3f3f3;
    }
    .ant-menu-horizontal {
      border-bottom-color: transparent;
    }
  }
}

.editor-menu {
  line-height: 28px !important;
}

/**
EditorRightPanel.js
 */
.editor-right-panel {
  position: fixed;
  z-index: 999;
  top: 30px;
  right: 0;
  bottom: 0;
  width: 230px;
  background-color: #f0f0f0;
  border-left: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  padding-top: 20px;
}

/**
EditorBody.js
 */
.editor-body {
  color: #000;
}

/**
EditorFile.js
 */
.editor-file {
  position: relative;
}

/**
EditorPage.js
 */
.editor-page {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  margin: 50px auto;
  &.active {
    box-shadow: 0 0 20px #888;
  }
}

/**
EditorColumn.js
 */
.editor-column {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1px dashed rgba(128, 128, 128, 0.3);
  z-index: 1;
  position: relative;
  &:hover {
    outline: 1px dashed rgba(255, 170, 0, 0.5);
  }
  &.active {
    outline: 1px dashed rgba(255, 170, 0, 0.8);
  }
}

@media print {
  .element {
    outline: none !important;
  }
}
