.arrange-plan-page{
}
.plan-item{
  margin-bottom: 20px;
  h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .base-params{
    label{

    }
    p{
      font-size:14px;
      color:#00aaff;
    }
  }
}
.plan-item-label-list{
  margin-bottom: 8px;
  &>span{
    padding:3px 8px;
    background-color: #acecff;
    line-height: 1;
    border-radius: 5px;
    margin-right: 10px;
  }
}

