.arrange-plan-page{
  //padding:20px;
  box-sizing: border-box;
}
.plan-item{
  margin-bottom: 20px;
}
.plan-item-label-list{
  margin-bottom: 8px;
  &>span{
    padding:3px 8px;
    background-color: #acecff;
    line-height: 1;
    border-radius: 5px;
    margin-right: 10px;
  }
}

.subject-klass-plan,
.timeslot-klass-plan-row{
  height:auto;
}


.table{
  width:100%;
  border:1px solid #ddd;
  th,td{
    border:1px solid #ddd;
    padding:3px;
    @opacity: 0.15;
    &.chinese { //语文
      background-color: rgba(0, 255, 0, @opacity);
    }
    &.math { //数学
      background-color: rgba(0, 0, 255, @opacity);
    }
    &.english { //英语
      background-color: rgba(255, 0, 0, @opacity);
    }
    &.physical { //物理
      background-color: rgba(0, 255, 136, @opacity);
    }
    &.chemistry { //化学
      background-color: rgba(0, 255, 255, @opacity);
    }
    &.biological { //生物
      background-color: rgba(0, 136, 255, @opacity);
    }
    &.political { //政治
      background-color: rgba(136, 255, 0, @opacity);
    }
    &.history { // 历史
      background-color: rgba(255, 255, 0, @opacity);
    }
    &.geography { //地理
      background-color: rgba(255, 136, 0, @opacity);
    }
    &.technology { //技术
      background-color: rgba(136, 0, 255, @opacity);
    }
    &.art { //美术
      background-color: rgba(255, 0, 136, @opacity);
    }
    p{
      margin: 0;
      padding: 0;
    }
    h4{
      margin-bottom: 3px;
    }
  }
  th{
    text-align: center;
    background-color: #f0f4f8;
  }

  &.subject-klass-plan{
    text-align: center;
    th,td{
      text-align: center;
    }
  }
}
