.workspace {
  .editor-title {
    text-align: center;
    font-weight: bold;
  }

  .task-list {
    & > li {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ddd;
      padding: 10px;

      &:nth-child(2n+1) {
        background-color: #fafafa;
      }
      &:first-child{
        border-top: 1px solid #ddd;
      }

      .name {
        width: 18%;
        flex-shrink: 0;
      }

      .progress {
        flex: 1;
      }

      .status {
        width: 80px;
        flex-shrink: 0;
        text-align: center;
      }

      .error {

        color: #f00;

      }
    }


  }

  .drag-tips {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #999;
    text-shadow: 0 0 5px #ccc;
    height: 100%;
    text-align: center;

    span {
      margin-top: -100px;
    }

  }
}

